{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage</title>
    <link rel="stylesheet" href="/static/Assets/css/style.css">
</head>
<body>
    <div class="heading"><h1>Sign Up Form</h1></div>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="form_content">
                <form action=" ">
                    <p> Username </p>
                    <input type="text" name="" placeholder="Enter Name" required>
                    <p>Password</p>
                    <input type="password" name="" placeholder="password" required>
                  <input type="submit" value="Submit" onclick="openPopup()"><br>
                    <a href="{% url 'login' %}">Forgot Password?</a>
                </form>
                <div class="popup" id="popup">
                    <img src="/static/Assets/img/icons8-check-mark-48-removebg-preview.png" alt="">
                    <h2>Login Successful</h2>
                   <a href="{% url 'welcome' %}"> <button type="button" onclick="closePopup()">Ok</a></button>

                </div>
            </div>
        </div>
    </div>
    <script src="/static/Assets/js/node.js"></script>
</body>
</html>